<%-include('./include/head') %>
    <%-include('./include/nav') %>

        <div class="container ">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 my-5">
                    <h1 class="text-center ">Agenda</h1>
                    <p class="text-center  lead">seu contatos estão abaixo</p>
                    <%-include('./include/messages')%>
                        <div class="responsive-table my-3">
                            <table class="table">
                                <tr>
                                    <td>matheus</td>
                                    <td>feliz</td>
                                    <td>4556545646545945</td>
                                    <td>email@gmail.com</td>
                                </tr>
                            </table>
                        </div>


                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>

        <%-include('./include/footer') %>